! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true

! State:           'bg',               'fg',       'bgalt',    'hlbg',   'hlfg'
rofi.color-normal: argb:00000000,  #D8DEE9 , argb:00000000,  #FAC863 ,  #1B2B34
rofi.color-urgent: argb:00000000,  #F99157 , argb:00000000,  #F99157 ,  #1B2B34
rofi.color-active: argb:00000000,  #6699CC , argb:00000000,  #6699CC ,  #1B2B34

!                  'background', 'border', 'separator'
rofi.color-window: argb:ee222222,  #FAC863 ,  #FAC863

! Separator style (none, dash, solid)
rofi.separator-style:                solid

! ------------------------------------------------------------------------------
! URXVT Color theme and preferences
! ------------------------------------------------------------------------------

URxvt.termName:        rxvt-256color
URxvt*cursorBlink:     true
URxvt*cursorUnderline: true
URxvt.font:     xft:bitstream vera sans mono:size=10:antialias=true
URxvt.boldFont: xft:bitstream vera sans mono:bold:size=10:antialias=true
URxvt*scrollBar:       false
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher:    firefox
URxvt.matcher.button:  1
URxvt.internalBorder:  8
URxvt.lineSpace:       1
URxvt.letterSpace:     0

URxvt*font:             -*-proggyoptis-medium-*-*-*-*-*-*-*-*-*-iso8859-1
URxvt*boldFont:         -*-proggyoptis-medium-*-*-*-*-*-*-*-*-*-iso8859-1

! URXVT FONT SETTINGS
!------------------------------------------------
Xft.autohint: true
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! ------------------------------------------------------------------------------
! Colour Setting
! ------------------------------------------------------------------------------

*background:       #170F0D
*foreground:       #746C48
*cursorColor:      #427b58
*colorBD:          #C8B984

*color0:           #392925
*color8:           #544B2E

*color1:           #98724C
*color9:           #AF652F

*color2:           #908F32
*color10:          #C3C13D

*color3:           #AA964C
*color11:          #C8B55B

*color4:           #7B854E
*color12:          #70A16C

*color5:           #6B5644
*color13:          #98724C

*color6:           #5C5142
*color14:          #778725

*color7:           #C8B55B
*color15:          #E4DC8C
